* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    border: 5px;
  }
  
  header {
    display: flex;
    padding: 20px;
    text-align: left;
    background: #13293d;
    color: lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  h2 {
    width: 30%
  }

  section h2 {
    text-align: right;
    padding: 5px;
    flex-basis: 200px;
    flex-direction: column;
    width: 25%;
    border-right-style: solid;
    color: #13293d;
  }

  section p {
     width: 75%;     

  }

  section a {
    justify-content: space-between;
  }

 
  nav {
    display: flex;
    background-color:#13293d;
    justify-content: right;
    flex-direction: row;
  }
  
  nav p {
    color: lightgray;  
    padding: 14px 20px;
    text-decoration: white;
    justify-content: center;
   }
  
  main {
    margin-left: auto;
    margin-right: auto;
  }
  
    
  section {
    display: flex;  
    background-color: white;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-width: 1px;

  }

  div {
    justify-content: flex-end;
  }
   
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    justify-content: center;
  }
  
  img {
    background-color: #13293d;
    padding: 3px;
    height: 300px;
    align-items: center;
    justify-content: space-between;

  }

   
  
   @media screen and (max-width: 992px) {
    header {
      background: #13293d;
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #13293d;
    }
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    img {
      background-color: #13293d;
    }
  }
  